#######################
#   DEPENDENCIAS      #
#######################

sounddevice==0.5.2
vosk==0.3.45
numpy
pvporcupine
soundfile>=0.12.1

#######################
#   CASES DE TESTE    #
#######################

pytest==8.3.4
soundfile==0.13.1
